<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cuenta rechazada</title>
</head>
<body>
    <div style="font-family: Arial, sans-serif; font-size: 14px;">
        <h2 style="color: #31A5DD;">Hola <span th:text="${nombreEmpresa}"></span></h2>
        <p>Lo sentimos, tu cuenta fue rechazada.</p>
       
        <p>
            Lamentamos informarte que luego de una larga revisión, tu cuenta de empresa se encuentra rechazada.
        </p>
        <p>
            Si tienes alguna pregunta, no dudes en contactarnos.
        </p>
        <p>Atentamente,<br>El equipo de Workee</p>
    </div>
</body>
</html>