<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido a Workee</title>
</head>
<body>
    <div style="font-family: Arial, sans-serif; font-size: 14px; ">
        <h2 style="color: #31A5DD;">¡Hola <span th:text="${nombreEmpresa}"></span>!</h2>
        <p>Gracias por registrarte en Workee.</p>
        <p>
            Actualmente, tu cuenta está <b>en proceso de verificación</b>. Te notificaremos por correo electrónico una vez que esté activa y lista para usar.
        </p>
        <!-- <p>
            Mientras tanto, puedes explorar nuestra página principal aquí: 
            <a th:href="${urlApp}">Ir a Workee</a>
        </p> -->
        <p>
            Si tienes alguna pregunta, no dudes en contactarnos.
        </p>
        <p>Atentamente,<br>El equipo de Workee</p>
    </div>
</body>
</html>