<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recuperación de contraseña</title>
</head>
<body>
    <div style="font-family: Arial, sans-serif; font-size: 14px; color: #333;">
        <p>Si deseas recuperar tu contraseña, debes ingresar al enlace que se encuentra a continuación.</p>
        
        <p>
            Enlace de recuperación: 
            <a th:href="${urlrecuperacion}">Ir a Workee</a>
        </p>
        <p>
            Si tienes alguna pregunta, no dudes en contactarnos.
        </p>
        <p>Atentamente,<br>El equipo de Workee</p>
    </div>
</body>
</html>